[submodule "skills/tooling/agent-skills"]
	path = skills/tooling/agent-skills
	url = https://github.com/vercel-labs/agent-skills
[submodule "skills/platforms/clawdhub"]
	path = skills/platforms/clawdhub
	url = https://github.com/clawdbot/clawdhub
[submodule "skills/research/ipsw-skill"]
	path = skills/research/ipsw-skill
	url = https://github.com/blacktop/ipsw-skill
[submodule "skills/tooling/mcp-progressive-agentskill"]
	path = skills/tooling/mcp-progressive-agentskill
	url = https://github.com/cablate/mcp-progressive-agentskill
[submodule "skills/platforms/marketplace"]
	path = skills/platforms/marketplace
	url = https://github.com/aiskillstore/marketplace
[submodule "skills/tooling/skills"]
	path = skills/tooling/skills
	url = https://github.com/anthropics/skills
[submodule "skills/workflows/superpowers"]
	path = skills/workflows/superpowers
	url = https://github.com/obra/superpowers
[submodule "skills/workflows/planning-with-files"]
	path = skills/workflows/planning-with-files
	url = https://github.com/OthmanAdi/planning-with-files
[submodule "skills/publishing/x-article-publisher-skill"]
	path = skills/publishing/x-article-publisher-skill
	url = https://github.com/wshuyi/x-article-publisher-skill
[submodule "skills/research/notebooklm-skill"]
	path = skills/research/notebooklm-skill
	url = https://github.com/PleasePrompto/notebooklm-skill
[submodule "skills/frontend/ui-ux-pro-max-skill"]
	path = skills/frontend/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill
[submodule "skills/learning/33-js-concepts"]
	path = skills/learning/33-js-concepts
	url = https://github.com/leonardomso/33-js-concepts
[submodule "skills/tooling/claude-code-templates"]
	path = skills/tooling/claude-code-templates
	url = https://github.com/davila7/claude-code-templates
[submodule "skills/creative/skill-prompt-generator"]
	path = skills/creative/skill-prompt-generator
	url = https://github.com/huangserva/skill-prompt-generator
[submodule "skills/general/claude-skills"]
	path = skills/general/claude-skills
	url = https://github.com/alirezarezvani/claude-skills
[submodule "skills/frontend/ui-skills"]
	path = skills/frontend/ui-skills
	url = https://github.com/ibelick/ui-skills
[submodule "skills/tooling/design-engineer-auditor-package"]
	path = skills/tooling/design-engineer-auditor-package
	url = https://github.com/kylezantos/design-engineer-auditor-package
[submodule "skills/research/notebooklm-py"]
	path = skills/research/notebooklm-py
	url = https://github.com/teng-lin/notebooklm-py
